*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    background:#fbfbfb;
}
header{
    width: 100%;
    height: auto;    
}
nav{
    width: 80%;
    height: 50px;
    border-bottom: solid 2px;
    margin: 0 auto;
}
nav ul{
    list-style: none;
    margin: 0 auto;
}
nav li{
    float: left;
    width: 80px;
    font-size: 15px;
    font-family: "calibri";
    line-height: 50px;
    text-align: center;
}
nav li:hover{
    border-bottom: solid 5px white;
    background:#1e1d1b;
    color: white;
}
.content-header{
    width: 100%;
    height: 500px;
    margin: 0 auto;
    font-family: "calibri";
    font-size: 15px;
    background:#1e1d1b;
}
nav form{
    padding-top: 10px;
    float: right;
}
nav input[type="text"] {
    width: 200px;
    height: 30px;
    border: 0;
    border-radius: 20px;
    background: #3f3d39;
    padding-left: 20px;
    color: white;
    font-family: "calibri";
    
}
nav input[type="button"]{
    border: 0;
    width: 50px;
    height: 30px;
    border:solid 1px #1e1d1b;
    background: white;
    border-radius: 3px;
    font-family: "calibri"
}
.isi-content-header{
    width: 80%;
    height: 100%;
    
    margin: 0 auto;
    font-family: "calibri";
    font-size: 50px;
    text-align: center;
    color: white;
}
#welcome{
    border-bottom: solid 2px;
    line-height: 70px;
    width: 50%;
    margin: 0 auto;
    padding-top: 100px;
}
#thumbnail{
    font-weight: bold;
    font-size: 16px;
}
.isi-content-header article{
    font-size: 15px;
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
}
.example{
    width: 50%;
    height: 200px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 15px;
}
.example section{
    width: 170px;
    height: 100%;
    float: left;
    
    border-radius: 3px;
    background: white;
    color: black;
}
.example img{
    width: 150px;
}
#sec-2,#sec-3{
    margin-left: 12px;
}
.example section p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
}
.example section button{
    border: 0;
    width: 150px;
    height: 30px;
    font-family: "calibri";
    background: #ededed;
}
.example section button:hover{
    background: #d1d1d1;
    color: black;
}
.container{
    width: 80%;
    height: auto;
    
    margin: 0 auto;
}
.sub-container{
    width: 100%;
    height: 300px;
    
    margin-top: 10px;
    margin-bottom: 10px;
}
.sub-container section{
    width: 49.5%;
    height: 100%;
    
    float: left;
}
footer{
    width: 100%;
    height: 300px;
    background: #000;
}
#sc-1 article{
    padding: 50px;
    font-family: "comic sans ms";
    font-size: 13px;
    text-align: justify;
}
#sc-1 p{
    font-size: 20px;
    font-weight: bold;
    font-family: "calibri";
    line-height: 40px;
    background: #ddd;
    width: 200px;
    color: black;
    border-left: solid 2px #1e1d1b;
    padding-left: 10px;
}
#sc-2{
    background-image: url(../img/DSC_0948.jpg);
    background-size: 100%;
    background-position:  center;
    overflow: hidden;
}
.caption{
    width: 100%;
    height: 300px;
    background: rgba(0,0,0,0.5);
    margin-top: 300px;
    transition: all 0.5s ease-in;
}
#sc-2:hover .caption{
    margin-top: 0px;
    transition: all 0.5s ease-in;
}
#sc-2:hover{
    background-size: 200%;
}